<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="chocolatey" />
  <package id="zerotier-one" />
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="GoogleChrome" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="gamesavemanager" />
  <package id="gsudo" />
  <package id="jre8" />
  <package id="open-shell"
           packageParamters="/StartMenu" />
  <package id="teamviewer" />
  <package id="microsoft-teams" />
  <package id="sublimetext4" />
  <package id="steam-client" />
  <package id="vscodium" />
  <package id="vscodium.install" />
  <package id="treesizefree" />
  <package id="sharex" />
  <package id="bulk-crap-uninstaller" />
  <package id="qbittorrent" />
  <package id="python3" />
  <package id="python" />
  <package id="javaruntime" />
  <package id="f.lux" />
  <package id="f.lux.install" />
  <package id="bitwarden" />
  <package id="adb" />
  <package id="Everything" />
  <package id="micorsoft-office-deployment"
           packageParamters="/64bit /Exclude OneDrive, Publisher, OneNote, Lync, Groove"    />
  <package id="etcher" />
  <package id="bleachbit" />
  <package id="gdlauncher" />
  <package id="lghub" />
  <package id="mpc-hc-clsid2" />
  <package id="msiafterburner" />
  <package id="notepadreplacer"
           packageParamters="NOTEPAD:C:\Program Files\Sublime Text\sublime_text.exe" />
  <package id="obsidian" />
  <package id="powershell-core" />
  <package id="spotify" />
  <package id="wincdemu" />
  <package id="winscp" />
  <package id="nvidia-display-driver"
           packageParamters="/DCH" />
</packages>